# environment file to store keys

APP_ID = '#############' # get from https://developers.facebook.com/ > app name > look at header
APP_SECRET = '##########################' # get from https://developers.facebook.com/ > app name > dashboard > basic
ACCESS_TOKEN = '##############################################################################' # get from https://developers.facebook.com/ > app name > marketing API > tools
MY_ACCOUNT = 'act_#############' # while in ads manager, the url will have ?act=###########
FB_PAGE_ID = '###############' # get from ads manager > open an ad > under identity tab, select "facebook page" > copy the page ID from the dropdown

# for flask api
FLASK_PORT = '5757'
FLASK_API_URL_PREFIX = 'http://localhost:' # localhost for locally hosted api